registry=https://registry.npmmirror.com

sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/

ENTRYCLI_CDNURL=https://npmmirror.com/mirrors/sentry-cli
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
